@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+15&family=Oswald:wght@200..700&family=Outfit&family=Pixelify+Sans:wght@400..700&family=Poppins&family=Rammetto+One&family=Russo+One&family=Silkscreen&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

.search-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ef7b6c;
}

.sidebar__nav {
  background-color: #ef7b6c;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
  font-family: "Oswald", sans-serif;
}

.abrir-menu,
.open_button,
.close_button {
  display: none;
}

.barra__busqueda {
  flex: 1;
  border: none;
  outline: none;
  align-items: center;
  padding: 3px;
  font-size: 16px;
  border-radius: 48px;
  border: 2px solid #000;
  background-color: #ffff;
}

.search-button {
  font-size: 18px;
  background: none;
  cursor: pointer;
  border: none;
  margin: 0 5px;
}

.nav-list span {
  cursor: none;
}

/* -------------------------Hamburguesas-------------------------- */
.title__hamb {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.clasica,
.spacial,
.doble_queso,
.arrachera,
.Vegetariana,
.infantil {
  width: 450px;
  height: 300px;
  border-radius: 28px;
  box-shadow: 0px 0px 12px 0px #000;
}

.ham__wraper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.hamb0 {
  grid-column: span 3 / span 3;
  grid-column-start: 5;
}

.hamb1 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.hamb2 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
}

.hamb3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 8;
  grid-row-start: 2;
}

.hamb4 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

.hamb5 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
}

.hamb6 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 8;
  grid-row-start: 4;
}

/* -------------------------Tablets-------------------------- */
@media screen and (max-width: 1080px) {
  .logo {
    width: 350px;
    height: 350px;
  }

  .open_button,
  .close_button {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .barra__busqueda {
    flex: 1;
    border: none;
    outline: none;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #000;
    border: none;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ececec;
  }

  .close_button,
  .comida {
    color: #ffff;
  }
  .search-bar {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #000;
    background-color: #ffff;
    border-radius: 48px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .clasica,
  .spacial,
  .doble_queso,
  .arrachera,
  .Vegetariana,
  .infantil {
    width: 200px;
    height: 150px;
    border-radius: 28px;
    box-shadow: 0px 0px 12px 0px #000;
  }

  .ham__wraper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 19px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
  }

  .hamb0 {
    grid-column: span 3 / span 3;
    grid-column-start: 5;
  }

  .hamb1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .hamb2 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
  }

  .hamb3 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 2;
  }

  .hamb4 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .hamb5 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
  }

  .hamb6 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 4;
  }
}
/* -------------------------Celulares-------------------------- */

@media screen and (max-width: 550px) {
  .open_button,
  .close_button {
    display: block;
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .barra__busqueda {
    border: none;
    background-color: #ffff;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ececec;
  }

  .sidebar__nav {
    position: sticky;
    top: 10px;
    z-index: 10;
  }

  .close_button,
  .comida {
    color: #ffff;
  }
  .search-bar {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #ececec;
    border: none;
    outline: none;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #000;
    background-color: #ffff;
    border-radius: 48px;
  }

  .clasica,
  .spacial,
  .doble_queso,
  .arrachera,
  .Vegetariana,
  .infantil {
    width: 250px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 0px 0px 12px 0px #000;
  }

  .ham__wraper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
  }

  .hamb0 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
  }

  .hamb1 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .hamb2 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .hamb3 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: end;
    font-size: 18px;
  }

  .hamb4 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
  }
  .hamb5 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 6;
  }
  .hamb6 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 7;
  }
}
